server:
  port: 8080

spring:
  application:
    name: mailsense
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:mailsensedb}
    username: ${DB_USER:mailsense}
    password: ${DB_PASSWORD:mailsense}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 600000  # 10 min
      max-lifetime: 1800000  # 30 min
      connection-timeout: 30000 # 30 sec

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: none

flyway:
  enabled: true
  baseline-on-migrate: true
  locations: classpath:db/migration
  url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:mailsensedb}
  username: ${DB_USER:mailsense}
  password: ${DB_PASSWORD:mailsense}

logging:
  level:
    root: INFO
    org.hibernate.SQL: WARN